#board, #stats, #restart, #timer {
  visibility: hidden;
}

td, #flash {
  cursor: pointer;
}

.hero {
  background-image: url(../assest/hero/home-isometric-eebc110218cbdb1460dd2dfc662a4e96ae94747667dc81da422804ef55cfd2d8.svg);
  background-size: cover;
}
